<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Second express app</title>
</head>
<body>

<h1>Second express app</h1>
<ul>
 <li><a href="/">Home</a></li>
 <li><a href="/activity">Activities</a></li>
 <li><a href="/trip">Trips!</a></li>
  <li><a href="/blog">Blogs!</a></li>
</ul>

    {{{body}}}

</body>
</html>
