
    <h1>Here is a test mongoose site</h1>
<h1>This is on the home page </h1>
    <p>This exciting paragraph is coming from  the home handlebars page.  It is being popped into the layout file when  when the route is home.</p>


<p>
 I want to put a list of all tasks from my DB here
</p>

<p>
 Hello world!
</p>

<div class="entry">
  <h1>{{title}}</h1>
  <div class="body">
    {{body}}
  </div>
</div>
