{{!Basic To Do  Access - this page is drawring from an object typed directcly into the js}}
<h3>Welcome {{thingsToDo}}</h4>

{{!Changing Scope of Variable Access}}
{{!Instead of user.lastname and user.email we are directly accessing lastname,email}}


<p>
 This is another example of data being passed in directly from an array of objects from the routes function within the main.js
</p>

<h2>My to do data</h2>
<p> Wash: <br>
 sheets: {{sheets.task}} <br>
 clothes: {{clothes.task}} <br>
</p>
