<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

<link rel="stylesheet" href="../../style.css">
    <title>Mongoose and express</title>

<!-- / -->
</head>
<body>

<h1>Golly gumdrops - it's mongooose and express</h1>
<h1>This heading is on the main handlebars page in the layout file</h1>
<p>
 This exciting paragraph is coming from the main layout folder.
</p>

<h1>CRUD functions </h1>
<h2>Read</h2>
<h3>Read data passed into handlebars from within main.js</h3>
<p>
 <a href="../todo">See the todos page</a>
</p>
<h3>Read data in handlebars coming from mongo</h3>
<a href="/todomongoose">See the todomongoose page</a>
<p>
 Still to do: <ul>
  <li>create</li>
  <li>update</li>
  <li>delete</li>
 </ul>
</p>

    {{{body}}}

</body>
</html>
