{{#section 'head'}}

<meta name="robots" content="noindex">

{{/section}}

<h1>Test page</h1>

<p>
 We're testing some jQuery stuff.
</p>

{{#section 'jquery'}}

<script>
$('document').reay(function(){
 $('h1').html('jQuery Works');
});

</script>

{{/section}}
